.containerMain {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: rgb(70, 70, 70);
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
}

.asideWrapper {
  position: static;
  top: 0;
  left: 0;
}

.navList {
  margin-top: 16px;
}

.navList a {
  text-decoration: none;
  display: block;
  margin: 16px 0;
  color: rgb(70, 70, 70);
  padding: 8px 4px;
  padding-left: 16px;
  display: flex;
  gap: 8px;
}

.navList a:hover {
  background-color: rgb(248, 253, 250);
  color: rgb(140, 218, 149);
  border-right: 3px solid rgb(140, 218, 149);
}

.specialButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 16px;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 6px;
  background-image: linear-gradient(
    to right,
    rgb(112, 204, 167),
    rgb(124, 209, 148),
    rgb(140, 214, 127)
  );
  margin: 0 auto;
  cursor: pointer;
  width: 120px;
}

.container {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 4;
}

.menuBars {
  display: none;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.7s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.logo {
  height: 100px;
  width: 100px;
}

.logoffArea {
  margin-top: auto;
}

.overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

@media screen and (max-width: 1170px) {
  .overlayChange {
    position: fixed;
    display: revert;
  }

  .menuBars {
    display: revert;
  }

  .asideWrapper {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-1000px);
    z-index: 3;
    width: 50%;
    height: 100%;
    transition: 0.7s;
  }
  .asideWrapperAnimation {
    transform: revert;
    transition: 0.7s;
  }
}

@media screen and (max-width: 450px) {
  .asideWrapper {
    width: 75%;
  }
}
