.offerCardWrapper {
  position: relative;
  border-radius: 12px;
  margin: 0 auto;
  margin-top: 9.2vh;
  height: 330px;
  background-image: linear-gradient(
    160deg,
    rgb(36, 36, 36),
    rgb(53, 53, 53),
    rgb(71, 71, 71)
  );
  max-width: 576px;
}

.offerCardWrapper img {
  position: absolute;
  right: 100px;
  bottom: 10px;
  /* display: block; */
  /* height: 330px;*/
  width: 330px;
  margin-right: -128px;
}

.offerCardWrapper p {
  /* position: absolute;
  top: 0px;
  left: 20px; 
  bottom: 0px;*/
  width: 200px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.specialButton {
  /* position: absolute;
  top: 165px;
  left: 10px; */
  display: flex;
  align-items: center;
  border: none;
  font-size: 16px;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 6px;
  background-image: linear-gradient(
    to right,
    rgb(112, 204, 167),
    rgb(124, 209, 148),
    rgb(140, 214, 127)
  );
  margin: 0 20px;
  cursor: pointer;
}

.offerContent {
  position: absolute;
  top: 0px;
  left: 24px;
  bottom: 0px;
}

@media screen and (max-width: 925px) {
  .offerCardWrapper p {
    font-size: 24px;
  }

  .specialButton {
    padding: 8px 16px;
  }

  .offerCardWrapper img {
    width: 250px;
  }
}

@media screen and (max-width: 775px) {
  .offerCardWrapper img {
    width: 330px;
  }
}

@media screen and (max-width: 500px) {
  .offerCardWrapper img {
    /* height: 250px; */
    width: 250px;
  }
}
