/* body {
  overflow-y: hidden;
} */

.asideWrapper {
  position: static;
  top: 0;
  left: 0;
}

.mainGrid {
  display: grid;
  grid-template-columns: 20% 1fr 1fr;
  gap: 16px;
  margin-right: 32px;
  height: 100vh;
}

@media screen and (max-width: 1170px) {
  .mainGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  .middle {
    margin-top: 50px;
  }

  .sticky {
    position: sticky;
  }
}

@media screen and (max-width: 775px) {
  .mainGrid {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
  }
}

.specialtyCard img {
  display: block;
  margin: 0 auto;
  width: 415px;
  height: 415px;
}

.specialtyCard {
  margin-top: 32px;
  background-color: white;
  padding: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.specialtyCard span {
  display: block;
  text-align: center;
  font-size: 18px;
}

.specialtyCard p {
  font-size: 22px;
}

@media screen and (max-width: 500px) {
  .specialtyCard img {
    display: initial;
    width: 100%;
  }

  .imgContainer {
    margin-left: -12px;
    margin-right: -12px;
  }
}
